# Copy this file into a .env file. Generate you're own API Key at https://collegefootballdata.com/key
# .gitignore ensures that your .env file will not be stored in Git. Other teammates will not see your API Key

CFBD_API_KEY=your_api_key_here